.kwadraty {
    width: 300px;
    height: 500px;
    background-color: #f5f5dd;
}

.kwadrat1 {
    background-color: rgba(0, 0, 0, 1);
}

.kwadrat2 {      
    background-color: rgba(0, 0, 0, 0.8);
}

.kwadrat3 {
    background-color: rgba(0, 0, 0, 0.6);     
}

.kwadrat4 {  
    background-color: rgba(0, 0, 0, 0.4);  
}

.kwadrat {
    width: 100px;
    height: 100px; 
    margin-bottom: 15px;
}